body {
	margin: 0px;
}
.clear-both {
	clear: both;
}
.w-header {
	height: 10%;
	background-color: #E8E8E8;
}




.interact-pane {
	min-height: 90%;
}



.interact-carousel {
	display: inline-block;
	vertical-align: top;
	
	width: 75%;
	background-color: gray;
}
.product-slide-pane {
	height: 200px;
	background-color: #E8E8E8;
	border-bottom: 1px solid red;
}
.view-all {
	float: right;
	padding-right:5px;
}
.w-footer {
	height: 300px;
	background-color: gray;
}